@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');
:root{
  --primary:hsl(47, 88%, 63%);
  --white:hsl(0, 0%, 100%);
  --grey:hsl(0, 0%, 50%);
  --black:hsl(0, 0%, 7%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background:var(--primary);
  font-size: 16px;
  font-family: 'Figtree', sans-serif;
}
.card{
  background: var(--white);
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--black);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 8px 8px var(--black);
  gap: 8px;
}
.image{
  width: 100%;
}
.image img{
  border-radius: 8px;
  width: 100%;
  object-fit: cover;
}

.tag :nth-child(1){
  background-color: var(--primary);
  width: fit-content;
  color: var(--black);
  font-weight: 800;
  padding: 4px 10px;
  margin-bottom: 8px;
  border-radius: 4px;
}
.tag :nth-child(2){
  font-size: 12px;
  color: var(--grey);
}
.title{
  font-size: 24px;
  font-weight: 800;
}
.description{
  color: var(--grey);
  font-weight: 600;
  margin-bottom: 8px;
}
.footer{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 800;
}
.footer img{
  width: 24px;
}